#adv-det{
    min-height: 300px;
}
#adv-det>div.sec-adv{
    width: 100%;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}
#adv-det>div.sec-adv>label{
    display: inline-block;
    float: left;
    font-size: 20px;
    color: #2A363A;
}
#adv-det>div.sec-adv>span{
    display: inline-block;
    float: left;
    font-size: 20px;
}
#adv-det>div.sec-adv>button{
    line-height: 60px;
    float: right;
}
#adv-det>div.sec-adv>button:hover{ color: #DA241C}

#adv-det>.adv-con{
    width: 100%;
    min-height: 390px;
    border-top: 1px solid #D8DADE;
    border-bottom: 1px solid #D8DADE;
    padding-left: 60px;padding-top: 40px;
}
#adv-det>.adv-con>p{
    display: inline-block;
    font-size: 16px;
    color: #646464;
    line-height: 24px;
    text-align: left;
}
#adv-det>.adv-con>span{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #323232;
    margin-top: 30px;
}
#adv-det>.adv-con>label{
    display: inline-block;
    font-size: 14px;
    color: #646464;
    margin-top: 20px;
}
#adv-det>.adv-con>a{
    display: inline-block;
    color: red;
    font-size: 14px;
}
#adv-det>.adv-con>a.href{
    margin-top: 8px;
}