section.reg{
    width: 1080px;
    margin: 60px auto -2px;
    padding-left: 20px;
    position: relative;
}
section.reg>ul{
    width: auto;
    min-height: 640px;
    overflow: hidden;
}
section.reg>ul>li{
    width: auto;
    line-height: 32px;
    margin-top: 20px;
}
section.reg>ul>li>label{
    display: inline-block;
    width: 80px;
    color: #001800;
    text-align: right;
}
section.reg>ul>li>input[type=text],
section.reg>ul>li>input[type=password]{
    width: 290px;
    line-height: 32px;
    margin-left: 20px;
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    border-radius: 2px;
    padding-left: 10px;
    font-size: 14px;
}
section.reg>ul>li>input[type=radio]{
    width: auto;
    line-height: 14px;
    font-size: 12px;
    margin-left: 20px;
}
section.reg>ul>li>span{
    font-size: 14px;
    color: #818585;
    margin-left: 20px;
}
section.reg>ul>li>span.sp-sel{
    color: red;
}
section.reg>ul>li>img{
    display: inline-block;
    margin-left: 20px;
}
section.reg>ul>li:last-child>img{
    position: relative;
    top: 8px;
}
section.reg>ul>li>select{
    width: 90px;height: 32px;
    line-height: 32px;
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    border-radius: 2px;
    margin-left: 5px;
    font-size: 14px;
    color: #818585;
}
section.reg>ul>li>select>option{
    font-size: 14px;
    color: #818585;
}

section.reg>input{
    margin-left: 101px;
    margin-top: 40px;
}
section.reg>span,
section.reg>a{
    font-size: 14px;
    color: #818585;
}
section.reg>a{ color: red;margin-left: 10px;text-decoration-line: underline}
section.reg>a:hover{
    text-decoration: red;
}
section.reg>button{
    width: 290px;
    line-height: 40px;
    background: #FFFFFF;
    border: 2px solid #DA241C;
    border-radius: 2px;
    margin-left: 100px;margin-top: 10px;
    font-size: 20px;
    color: #DA241C;
    letter-spacing: 10px;
}

section.reg>img.s{
    display: inline-block;
    position: absolute;top: 300px;
    left: 400px;
    z-index: -1;
}